/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1830px) {
	.billbord__leaves {
		right: -67px;
	}
	.services__leaves {
		right: -90px;
	}
}
@media only screen and (max-width : 1670px) {
	.billbord__leaves {
		display: none;
	}
}
@media only screen and (max-width : 1480px) {
	.item-service__title {
		font-size: 20px; 
	}
	.item-step {
		margin: 0 29px;
	} 
	.item-catalog__image {
		height: 267px;
	}
	.title-card { 
		font-size: 21px;
	}
	.item-form__title { 
		font-size: 17px;
	}
	.item-question {
		max-width: 870px;
	}
	.question-block {
		margin-left: -79px;  
	}
	.menu ul::before {
		left: -7px;
		right: -7px;
	}
	.about-block p {
		margin-bottom: 15px; 
	}
	.service  .calculator-block .title-section {
		font-size: 33px;
	}
	.service .calculator-block {
		background-position: right -163% bottom 186%;
	}
	.row_services .item-service__title {
		font-size: 19px;
	}
}
@media only screen and (max-width : 1350px) {
	.item-service__title {
		font-size: 18px;
	}
	.title-big {
		font-size: 44px;
	}
	.consultation ul li {
		margin-bottom: 14px;
	}
	.item-step {
		margin-right: 0;
		padding-left: 60px;
	}
	.block-ask {
		padding: 54px 80px;
	}
	.item-catalog__image {
		height: 242px;
	}
	.title-card {
		font-size: 19px;
	}
	.calculator-block {
		padding-left: 219px;
		padding-right: 219px;
	}
	.calculator-block__image {
		margin-left: -223px;
	}
	.title-section {
		font-size: 33px;
	}
	.tabs a {
		font-size: 16px;
		padding: 14px 26px;
	}
	.tab-container_team .title-text {
		margin-top: 24px;
	}
	.slider-regions {
		padding-left: 50px;
		padding-right: 50px;
	}
	.item-question {
		max-width: 774px;
	}
	.question-block {
		margin-left: -103px;
	}
	.menu {
		font-size: 14px;
	}
	.about-block {
		font-size: 13px;
		line-height: 20px;
		padding-left: 30px;
	}
	.service .calculator-block {
		padding-left: 25px;
		padding-right: 25px;
		background-position: right -219% bottom 186%;
	}
	.row_services .item-service__title {
		font-size: 17px;
	}
	.item-service__price {
		font-size: 20px;
	}
	.item-service__name {
		font-size: 21px;
	}
	.row_inner .item-service__image {
		height: 244px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header .logo img {
		width: 105px !important;
	}
	.logo {
		margin-right: 0px;
	}
	.menu {
		padding: 12px 4px;
		font-size: 11px;
	}
	.phone-main {
		font-size: 16px;
	}
	.navigation li {
		margin-right: 26px;
	}
	body {
		font-size: 14px;
	}
	.billbord__top-descr {
		font-size: 38px;
	}
	.billbord__title {
		font-size: 81px;
	}
	.billbord__bottom-descr {
		font-size: 29px;
	}
	.billbord__descr {
		font-size: 16px;
	}
	.billbord__left {
		max-width: 385px;
	}
	.billbord {
		padding-top: 205px;
		min-height: 705px;
	}
	.item-service__line strong {
		font-size: 16px;
	}
	.item-service__line {
		font-size: 13px;
		line-height: 20px;
	}
	.item-service__line {
		padding: 0 12px;
	}
	.row_types,
	.row_services {
		margin: 0 -5px;
	}
	.row_types > div,
	.row_services > div {
		padding: 0 5px;
	}
	.item-service__line span {
		max-width: 138px;
	}
	.item-service__title {
		font-size: 15px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.item-type__image {
		height: 193px;
	}
	.title-card {
		font-size: 17px;
	}
	.line-feature {
		font-size: 13px;
	}
	.price-old {
		font-size: 16px;
	}
	.price-new {
		font-size: 20px;
	}
	.title-big {
		font-size: 34px;
	}
	.consultation__title {
		font-size: 20px;
	}
	.consultation ul {
		font-size: 16px;
		line-height: 24px;
	}
	.consultation__descr {
		font-size: 17px;
		line-height: 25px;
		padding-top: 20px;
		max-width: 258px;
	}
	.item-step {
		padding-left: 50px;
		padding-right: 10px;
	}
	.block-ask {
		padding: 40px 40px;
	}
	.block-ask .title-section {
		font-size: 30px;
	}
	.tabs a {
		min-width: 160px;
	}
	.calculator-block__leaves,
	.calculator-block__image {
		display: none;
	}
	.calculator-block {
		padding-left: 60px;
		padding-right: 60px;
	}
	.title-middle {
		font-size: 25px;
	}
	.title-text, .title-min {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 15px;
	}
	.tab-container_team .title-text {
		margin-top: 15px;
	}
	.question-block {
		padding: 45px 25px;
		font-size: 19px;
		margin-left: 0;
	}
	.phone-big {
		font-size: 22px;
		margin-bottom: 10px;
	}
	.question-block__image img {
		max-width: 371px;
	}
	.question-block__image {
		left: 26px;
		bottom: -37px;
	}
	.header-bottom {
		padding: 10px 0 !important;
	}
	
	.menu-mobile {
		padding: 0 15px;
		height: 100vh;
		overflow: auto;
		padding-bottom: 120px;
		display: none;
		background-color: #fff;
	}
	.menu-mobile li a {
		padding: 10px 0;
		color: #373c3d;
		border-bottom: 1px solid #373c3d;
		display: block;
	}
	.menu-mobile .btn-whatsapp {
		background-color: #00e676;
		color: #fff;
	}
	.menu-mobile .contacts-wrap {
		margin: 15px 0;
	}
	.header.active {
		background-color: #fff;
	}
	.footer__bottom {
		font-size: 12px;
	}
	.header .logo {
		width: 107px;
	}
	.wrapper_page {
		padding-top: 195px;
	}
	.title-block {
		font-size: 20px;
	}
	.service-block .link-page {
		margin-top: 20px;
	}
	.item-service__buttons .btn-main {
		margin-top: 20px;
	}
	.service .calculator-block {
		background-image: none;
	}
	.service .calculator-block .row {
		align-items: flex-end;
	}
	.header.fixed {
		padding: 0;
	}
	.item-service-unit {
		font-size: 13px;
		line-height: 19px;
		margin-bottom: 14px;
	}
	.row_services .item-service__title {
		font-size: 14px;
		line-height: 20px;
	}
	.item-service-unit strong {
		font-size: 16px;
	}
	.types .table-wrap tbody td:nth-child(2) {
		padding-left: 0;
	}
	.tarifs-wrap {
		padding-top: 40px;
	}
	.tarifs-wrap .title-section {
		padding-bottom: 15px;
	}
	.item-service__name {
		font-size: 17px;
	}
	.services-inner {
		padding-bottom: 0;
	}
	.row_inner .item-service__image {
		height: 208px;
	}
	.container-block .btn-main {
		width: 150px;
	}
	.section-container {
		padding-bottom: 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-bottom__content,
	.header-top {
		display: none;
	}
	.billbord {
		padding-top: 128px;
		min-height: inherit;
		padding-bottom: 60px;
		background-position: 0% 50%;
	}
	.row_services {
		justify-content: center;
	}
	.services__leaves {
		display: none;
	}
	.row_types > div {
		margin-top: 10px;
	}
	.row_types {
		margin-top: 15px;
	}
	.consultation .block-form {
		max-width: 345px;
		padding-left: 40px;
		padding-right: 40px;
	}
	.item-sertificat {
		margin: 0 2px;
		margin-top: 20px;
	}
	.consultation {
		background-position: 0% 50%;
	}
	.block-form__image {
		margin-top: -66px;
		margin-bottom: 17px;
	}
	.row_steps > div {
		margin-bottom: 30px;
	}
	.block-ask__right {
		padding-top: 20px;
		justify-content: flex-start;
	}
	.tabs a {
		margin-top: 10px;
	}
	.item-catalog__image {
		height: 204px;
	}
	.calculator-block {
		padding-left: 30px;
		padding-right: 30px;
	}
	.item-form__title {
		font-size: 14px;
		line-height: 23px;
	}
	.team__image {
		margin-bottom: 20px;
	}
	.question-block__image img {
		max-width: initial;
	}
	.footer__nav {
		padding-top: 15px;
		display: none;
	}
	.footer__title {
		padding: 10px 0;
		border-bottom: 1px solid #05bbb5;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.footer__contacts {
		display: none;
	}
	.footer__top .btn-main {
		position: absolute;
		right: 15px;
		bottom: 100%;
		margin-bottom: 15px;
	}
	.footer__top {
		display: block;
	}
	.footer .logo {
		margin: 0;
	}
	.footer__bottom .row > div:nth-child(2) {
		text-align: right;
	}
	.footer__title i {
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(45deg);
	}
	.footer__bottom {
		font-size: 13px;
	}
	.btn_nav {
		margin-left: auto;
		display: inline-block;
	}
	.menu-mobile ul ul {
		visibility: visible;
		position: relative;
		top: 0;
		left: 0;
		opacity: 1;
		transition: 0s;
		display: none;
	}
	.menu-mobile  a {
		position: relative;
	}
	.menu-mobile li.menu__haschild > a {
		position: relative;
	}
	.menu-mobile li.menu__haschild > a::after {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		font-weight: 400;
		font-family: "Font Awesome 5 Pro";
		content: "\f078";
		position: absolute;
		top: 0;
		right: 15px;
		bottom: 0;
		color: #09aba6;
		display: flex;
		align-items: center;
	}
	.menu-mobile li.menu__haschild ul a::before {
		content: " • ";
		position: absolute;
		top: 8px;
		left: 0;
		color: #a5cc3d;
		margin-right: 10px;
		font-size: 19px;
	}
	.menu-mobile li.menu__haschild ul a {
		padding-left: 15px;
	}
	.wrapper_page {
		padding-top: 125px;
	}
	.about-block {
		font-size: 14px;
		line-height: 22px;
	}
	.about-block p:last-child {
		margin-bottom: 15px;
	}
	.about {
		padding-bottom: 50px;
	}
	.about-block::after {
		left: 10px;
		right: 10px;
	}
	.about-block {
		padding-left: 25px;
		padding-right: 25px;
	}
	.table-wrap table {
		font-size: 16px;
	}
	.table-wrap td {
		padding: 15px 0;
	}
	.sidebar-services {
		padding-top: 30px;
	}
	.item-service__buttons .btn-main {
		margin-top: 0;
	}
	.service + .regions {
		padding-top: 20px;
	}
	.bottom-ask {
		padding-bottom: 50px;
	}
	.row_services .item-service__title {
		font-size: 16px;
		line-height: 23px;
	}
	.types-page ~ .types {
		padding-bottom: 0;
	}
	.item-service__price {
		font-size: 15px;
	}

	.billbord {
		background-position: center;
	}
	.header-bottom {
		justify-content: space-between;
	}
	.btn_nav {
		margin-left: 0;
	}
	.phone-mob {
		display: inline-block;
		font-size: 20px;
		margin-right: 10px;
		margin-left: -50px;
		position: relative;
		top: 4px;
		color: #09aba6;
	}
	.menu-mobile_menu {
		color: #fff;
		background-color: #09aba6;
	}
	.menu-mobile_menu * {
		color: #fff !important;
		border-color: #fff !important;
	}
	.menu-mobile_menu li.menu__haschild > a::after {
		color: #fff;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.billbord__top-descr {
		font-size: 26px;
	}
	.billbord__title {
		font-size: 60px;
	}
	.billbord__bottom-descr {
		font-size: 21px;
	}
	.billbord__descr {
		font-size: 12px;
		line-height: 20px;
		padding-top: 15px;
	}
	.billbord__left {
		max-width: 267px;
	}
	.circle-block {
		width: 130px;
		height: 130px;
		font-size: 15px;
	}
	.circle-block strong {
		font-size: 36px;
	}
	.circle-block p:first-child::after {
		width: 24px;
		height: 14px;
		left: 100%;
		margin-left: 3px;
		top: 0;
	}
	.circle-block sup {
		font-size: 12px;
	}
	.btn-main {
		padding: 0 30px;
	}
	.slider-advantages .slick-slide {
		padding: 20px 0;
		padding-top: 50px;
	}
	.slider-advantages {
		padding-bottom: 20px;
	}
	.advantages {
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.descr-section {
		font-size: 15px;
		line-height: 24px;
	}
	.item-service {
		margin-top: 25px;
	}
	.consultation .block-form {
		float: left;
		margin: 0;
		max-width: 390px;
		margin-top: 70px;
	}
	.block-form__image {
		margin-bottom: 15px;
		position: relative;
	}
	.item-sertificat {
		margin: 0 4px;
		margin-top: 15px;
	}
	.consultation ul {
		max-width: 100%;
	}
	.block-ask .form-phone .item-form {
		width: 195px;
	}
	.slider-catalog {
		padding-bottom: 20px;
	}
	.calculator-block .title-section {
		padding-bottom: 25px;
	}
	.calculator-block {
		padding: 30px 20px;
	}
	.calculator {
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.tabs {
		margin: 0 -5px;
	}
	.tabs li {
		padding: 5px;
		width: 50%;
	}
	.tabs a {
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 14px;
		padding: 0 10px;
		min-height: 100%;
		width: 100%;
		min-width: inherit;
		margin: 0;
	}
	.team {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.slider-regions {
		padding: 0;
		padding-bottom: 30px;
		background-color: transparent;
		box-shadow: none;
	}
	.slider-regions::after {
		display: none;
	}
	.regions {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.item-review {
		padding: 30px 40px;
	}
	.item-review__title {
		font-size: 19px;
		margin-bottom: 10px;
	}
	.reviews .descr-section {
		padding-bottom: 0;
	}
	.reviews .slick-dots li button {
		background-color: #fff;
	}
	.slick-dots li.slick-active button, .slick-dots li button:hover {
		background-color: #ddd;
	}
	.reviews {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.questions .title-section {
		padding-bottom: 25px;
	}
	.item-question__head {
		font-size: 15px;
	}
	.item-question__content {
		padding-right: 30px;
	}
	.questions {
		padding-bottom: 50px;
	}
	.contacts-block {
		position: relative;
		top: 0;
		font-size: 15px;
		padding: 0;
		padding-top: 20px;
		line-height: 22px;
		left: 0;
		height: initial;
		padding-bottom: 25px;
		max-width: 100%;
		box-shadow: none;	
	}
	#map {
		height: 380px;
	}
	.contacts-block__item {
		margin-bottom: 20px;
	}
	.contacts-block__title {
		font-size: 20px;
		padding-bottom: 13px;
	}
	.footer__bottom .row > div {
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center !important;
	}
	.footer__bottom {
		border: none;
		padding-top: 0;
	}
	.title-section {
		font-size: 28px;
	}
	.title-big {
		font-size: 30px;
	}
	.contacts-page {
		padding-bottom: 0;
	}
	.contacts-page .title-section + .breadcumbs {
		padding-bottom: 0;
	}
	.contacts-page + .contacts .contacts-block__title {
		display: none;
	}
	.team-page,
	.avtopark-page {
		padding-bottom: 0;
	}
	.table-wrap table {
		font-size: 14px;
	}
	.service .calculator-block {
		margin-bottom: 50px;
	}
	.service-block__content {
		padding: 24px 20px;
	}
	.row_services .item-service {
		display: block;
		min-height: initial;
	}
	.row_services .item-service__title br {
		display: none;
	}
	.item-service-unit {
		font-size: 14px;
		line-height: 21px;
		margin-bottom: 17px;
	}
	.row_services .item-service__title {
		font-size: 18px;
		line-height: 26px;
	}
	.row_services > div {
		margin-top: 25px;
	}
	.avtopark .title-section,
	.team .title-section {
		padding-bottom: 15px;
	}
	.types + .calculator {
		padding-top: 30px;
	}
	.item-service__price {
		font-size: 16px;
	}
	.row_inner .item-service__content {
		padding-bottom: 30px;
	}

	.item-step {
		padding-left: 60px;
		box-shadow: 0px 0px 30px rgb(29 117 128 / 23%);
	}
	.row_steps .slick-track {
		display: flex !important;
	}
	.row_steps .slick-slide {
		padding: 30px 15px;
		display: flex;
		height: inherit !important;
	}
	.row_steps  {
		margin: 0 -15px;
	}
	.item-step__icon {
		left: -30px;
	}
	.steps .descr-section {
		padding-bottom: 0;
	}
	.tabs {
		margin-top: 20px;
		display: flex;
		overflow: auto;
		flex-wrap: nowrap;
		background-color: #fff;
		margin-right: -15px;
		white-space: nowrap;
	}
	.tabs a {
		padding: 10px 17px;
		border: none;
		height: auto;
	} 
	.tabs::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.tabs::-webkit-scrollbar:vertical {
		width: 0px;
	}
	.tabs::-webkit-scrollbar:horizontal {
		height: 0px;
	}
	.tabs::-webkit-scrollbar-thumb {
		background-color: transparent;
		border-radius: 10px;
	}
	.tabs::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: transparent;
	}
	.tabs li {
		width: initial;
	}
	.container-block {
    padding: 24px 29px;
}
}
@media only screen and (max-width : 570px) {
	.billbord-mob {
		margin: 15px -15px;
		display: block;
	}
	.billbord-mob img { 
		max-width: 100%;
		height: auto;
	}
	.billbord {
		background-color: #e6f4ff;
		background-image: none;
		background-image: linear-gradient(0.0deg, #b9b4b4 -25%, rgba(185,180,180,0.0) 65%, rgba(185,180,180,0.0) 80%);
	}
	.billbord__descr {
		display: none;
	}
	.billbord .descr-form {
		display: none;
	}
	.billbord__list {
		display: block;
		margin-top: -20px;
		margin-bottom: 15px;
	}
	.billbord__list li {
		padding-left: 30px;
		margin-bottom: 10px;
		padding-top: 3px;
		position: relative;
	}
	.billbord__list li::before {
    position: absolute;
    display: block;
    content: " ";
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-image: url(../img/check_active.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.circle-block {
		display: none;
	}
	.billbord__title {
		font-size: 69px;
	}
	.billbord__top-descr {
		font-size: 31px;
	}
	.billbord__left {
		max-width: 100%;
	}
	.billbord__bottom-descr {
		font-size: 24px;
	}
	.billbord .descr-form {
		margin-top: 25px;
	}
	.btn-main {
		font-size: 14px;
		line-height: 21px;
	}
	.billbord {
		padding-bottom: 40px;
	}
	.item-service__line {
		margin-bottom: 15px;
	}
	.services {
		padding-bottom: 45px;
	}
	.types {
		padding-top: 35px;
		padding-bottom: 50px;
	}
	.title-big {
		font-size: 26px;
	}
	.consultation__title {
		font-size: 18px;
		padding-bottom: 7px;
	}
	.item-sertificat {
		width: 106px;
		height: 150px;
		padding: 8px;
	}
	.consultation .block-form {
		max-width: 100%;
	}
	.checkbox-wrap .checkbox {
		white-space: normal;
	}
	.block-form .checkbox {
		margin-top: 20px;
	}
	.consultation .block-form {
		padding-bottom: 35px;
	}
	.steps .descr-section {
		padding-bottom: 20px;
	}
	.item-step {
		padding-bottom: 25px;
	}
	.block-ask {
		padding: 30px 15px;
	}
	.block-ask {
		margin: 0 -15px;
		border-radius: 0;
	}
	.steps {
		padding-top: 40px;
		padding-bottom: 0;
	}
	.block-ask .descr-section {
		padding-bottom: 0;
	}
	.slider-reviews, .slider-catalog {
		margin: 0 -15px;
	}
	.calculator-block .title-section {
		padding-bottom: 15px;
	}
	.calculator__button {
		padding-top: 0;
	}
	.tab-container_team {
		padding: 20px 15px;
	}
	.item-review {
		display: block;
		padding-left: 25px;
		padding-right: 25px;
	}
	.item-review__right .item-sertificat {
		margin: 15px auto;
	}
	.item-question__content {
		padding: 0 15px;
		padding-bottom: 20px;
	}
	.item-question__head {
		padding: 15px 15px;
	}
	.item-question__head i {
		margin-left: 10px;
	}
	.question-block__image img {
		max-width: 390px;
	}
	.question-block {
		min-height: 400px;
	}
	.footer__menu {
		flex-wrap: wrap;
	}
	.footer__menu li {
		width: 50%;
		margin-bottom: 15px;
	}
	.footer__top {
		padding-bottom: 0;
	}
	.item-advantage__image {
		height: 161px;
	}
	.checkbox {
		font-size: 11px;
		margin-top: 13px;
	}
	.billbord .descr-form {
		display: none; 
	}
	.modal-block .block-form {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 45px;
		padding-bottom: 30px;
		background-color: #fff;
	}
	.modal-block .block-form::after {
		display: none;
	}
	.fancybox-close {
		top: 11px;
		right: 8px;
		font-size: 22px;
	}
	.service-block__content {
		padding: 20px 15px;
	}
	.service-block .title-big {
		padding-bottom: 15px;
	}
	.service .calculator-block .title-section {
		font-size: 25px;
	}
	.table-wrap table {
		font-size: 12px;
	}
	.table-wrap tbody td sup {
		font-size: 8px;
	}
	.item-service__content {
		padding: 30px 16px;
		padding-top: 0;
	}
	.item-service__buttons .btn-main {
		padding: 0 16px;
	}
	.sidebar-services .item-service {
		margin-bottom: 25px;
	}
	.bottom-ask {
		padding-bottom: 0;
	} 
	.service + .regions {
		padding-bottom: 40px;
	}
	.row_inner .item-service__content {
		padding-left: 15px;
		padding-right: 15px;
	}
	.item-service__price {
		font-size: 14px;
	} 
	.row_inner > div {
		margin-top: 30px;
	}
	.row_inner .item-service__buttons .btn-main {
		padding: 0 25px;
	}

	.steps .descr-section {
		padding-bottom: 0px;
	}
	.container-block .line-prices {
		margin: 20px 0;
		flex-wrap: wrap;
	}
	.container-block .btn-main {
		width: 220px;
		margin-top: 20px;
	}
	.container-block img {
		margin-top: 0;
	}
	.container-block p {
		margin-bottom: 15px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {
	.block-ask__right .btn-main {
		padding: 0 15px;
	}
	.footer .logo img {
		width: 138px;
	}
	.footer__top .btn-main {
		padding: 0 20px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.row_types .tab-pane {
	display: block !important;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.footer__nav {
		display: block !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container {
		max-width: 1200px;
	}
	.row_footer .col-lg-3 {
		-webkit-box-flex: inherit;
		-ms-flex: inherit;
		flex: inherit;
		max-width: inherit;
		flex: 1;
	}
	.row_footer .col-lg-3:nth-child(1) {
		flex: 1.1;
	}
	.row_footer .col-lg-3:nth-child(2) {
		flex: 0.8;
	}
	.row_footer .col-lg-3:nth-child(4) {
		flex: 0.8;
	}
	.menu-mobile {
		display: none !important;
	}
}
@media only screen and (min-width : 1350px) {
	.container {
		max-width: 1300px;
	}
}
@media only screen and (min-width : 1480px) {
	.container {
		max-width: 1390px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1390px;
	}
}